<%- include("partials/_header") %> 
        <!-- Navigation-->
        <%- include("partials/_navigation")  %> 
        <!-- Masthead-->
        <%- include("partials/_slider") %> 
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                    <% for (let i = 0; i<projects.length; i++) { %> 
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1<%= projects[i]._id %>">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="<%= projects[i].image %> " alt="..." />
                        </div>
                    </div>
                    <!-- Portfolio Modals-->
                    <!-- Portfolio Modal 1-->
                    <div class="portfolio-modal modal fade" id="portfolioModal1<%= projects[i]._id %>" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                                <div class="modal-body text-center pb-5">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-8">
                                                <!-- Portfolio Modal - Title-->
                                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0"><%= projects[i].name %></h2>
                                                <!-- Icon Divider-->
                                                <div class="divider-custom">
                                                    <div class="divider-custom-line"></div>
                                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                                    <div class="divider-custom-line"></div>
                                                </div>
                                                <!-- Portfolio Modal - Image-->
                                                <img class="img-fluid rounded mb-5" src="<%= projects[i].image %>" alt="..." />
                                                <!-- Portfolio Modal - Text-->
                                                <p class="mb-4"><%= projects[i].description %></p>
                                                <div class="divider-custom">
                                                    <div class="divider-custom-line"></div>
                                                    <div class="divider-custom-icon">
                                                        <a href="/project/edit/<%= projects[i].slug %>" class="btn btn-sm btn-success">UPDATE</a>
                                                        <a onclick="return confirm('Are you sure delete this project?')" href="/project/<%= projects[i]._id %>?_method=DELETE" class="btn btn-sm btn-danger">DELETE</a>
                                                    </div>
                                                    <div class="divider-custom-line"></button></div>
                                                </div>
                                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                                    <i class="fas fa-xmark fa-fw"></i>
                                                    Close Window
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %> 
                </div>
            </div>
        </section>
        <nav aria-label="Page navigation example">
            <% if (pages>0) {  %>
                <ul class="pagination justify-content-center">
                    <% for(let i = 1; i<=pages; i++) { %>
                        <% if (i==current) { %> 
                            <li class="page-item active"><a class="page-link" href="/?page=<%= i %>"><%= i %></a></li>
                        <% } else if (i<pages) { %>
                            <li class="page-item"><a class="page-link" href="/?page=<%= i %>"><%= i %></a></li>
                        <% } else { %>
                            <li class="page-item">
                                <a class="page-link" href="/?page=<%= i %>" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                            </li>
                        <% } %> 
                    <% } %> 
                </ul>
            <% } %>  
        </nav>
        
<%- include("partials/_footer")  %> 